@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(243, 243, 243);
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(77, 60, 94);
  margin-bottom: 1rem;

}

header img {
  width: 10rem;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding-bottom: .5rem;
}

input {
  width: 20rem;
  height: 2rem;
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: .2rem;
}

button[type="submit"] {
  background: rgb(115, 40, 150);
  outline: none;
  color: white;
  height: 2rem;
  width: 5rem;
  border: none;
  margin-left: .5rem;
  cursor: pointer;
  border-radius: .2rem;
}

button[type="submit"]:hover {
  background: rgb(141, 79, 170);
}

.results {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  overflow-y: auto;
  background: rgb(255, 255, 255);
  border-radius: .4rem;
}

.result {
  display: flex;
  flex-direction: row;
  height: 15rem;
  width: 90%;
  margin: 1.5rem 0;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgb(219, 207, 231);
  border-radius: .4rem;
}

.result img {
  border-radius: .4rem;
  width: 10rem;
}

.details p {
  padding: .5rem 0;
}

.details button {
  padding: .3rem;
  width: 6rem;
  cursor: pointer;
  background: rgb(115, 40, 150);
  border-radius: .4rem;
  color: white;
  border: none;
  text-align: center;
}

.details button:hover {
  background: rgb(141, 79, 170);
}

.my-animes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}

.my-anime img{
  height: 17rem;
  border-radius: .4rem;
}

.my-anime {
  width: 12rem;
}

.epHandle {
  border: none;
  color: white;
  margin-left: .4rem;
  border-radius: .2rem;
  padding: 0 .6rem;
  font-weight: 500;
  cursor: pointer;
  background: rgb(142, 33, 245);
} 

.epHandle:hover {
  background: rgb(156, 78, 230);
}

.myanime h2 {
  align-items: center;
  display: flex;
  }

  @media only screen and ( max-width: 540px ) {
    input {
      width: 12rem;
    }
    
    .results {
      max-width: 23rem;
    }

    .result img {
      height: 12rem;
    }

    .result {
      height: 100%;
    }

    .result p {
      font-size: .8rem;
    }
  }